body {
	overflow-y: scroll;
    overflow-x: hidden;
}

.content {
	width: 1200px;
}

section.resizable {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

section > .panel {
        /*overflow-y: hidden;*/
        position: relative;
    }

    .panel-body {
        padding: 0;
        border: 2px solid green;
        overflow-y: scroll;
    }


    section .panel-body > iframe {
        border: 1px solid red;
    width: 100%;
    height: 100%;
    overflow: visible;
    }

    .panel-control {
    position: absolute;
    top: 10px;
    right: 5px;
}

.panel-control a {
    float: right;
    margin-right: 10px;
}

section.fullFlexBasis {
	flex: 1;
}
